<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/teams">
  Team Name: <input type="text" name="team[name]" id="team_name"><br>
  <p>Team Motto: <input type="text" name="team[motto]" id="team_motto"><br>

  <h2>Hero 1</h2>
  <ul>
    <li>Hero's Name: <input type="text" name="team[heros][][name]" id="member1_name"></li>
    <li>Hero's Power: <input type="text" name="team[heros][][power]" id="member1_power"></li>
    <li>Hero's Biography: <input type="text" name="team[heros][][bio]" id="member1_bio"></li>
  </ul>

  <h2>Hero 2</h2>
  <ul>
    <li>Hero's Name: <input type="text" name="team[heros][][name]" id="member2_name"></li>
    <li>Hero's Power: <input type="text" name="team[heros][][power]" id="member2_power"></li>
    <li>Hero's Biography: <input type="text" name="team[heros][][bio]" id="member2_bio"></li>
  </ul>

  <h2>Hero 3</h2>
  <ul>
    <li>Hero's Name: <input type="text" name="team[heros][][name]" id="member3_name"></li>
    <li>Hero's Power: <input type="text" name="team[heros][][power]" id="member3_power"></li>
    <li>Hero's Biography: <input type="text" name="team[heros][][bio]" id="member3_bio"></li>
</ul>
  <input type="submit" value="submit">
</form>
